<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF tisztító</title>
</head>

<body>

    <form action="/" method="POST" enctype="multipart/form-data">
        <div class="drop-zone">
            <span class="drop-zone__prompt">Húzz ide egy fájlt vagy nyomd meg a feltöltéshez</span>
            <input type="file" name="myFile" class="drop-zone__input">
        </div>
        <button class="btn" type=submit>Konvert</button>

    </form>

   

    <script src="/static/script.js"></script>
</body>
</html>
